/*p span {*/
    /*background: rgba(255, 255, 255,0.9);*/
/*}*/

/*h2 span {*/
    /*background: rgba(0, 0, 0, 0.2);*/
/*}*/

h4 span {
    background: rgba(255, 255, 255,0.9);
}

h1 h2 h3 h4 {
    font-family: Source Sans Pro, sans-serif;
}

.font-source {
    font-family: Source Sans Pro, sans-serif;
}

body {
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    color: #818181;
    font-size: 18px;
}


.jumbotron {
    /*background-color: #f4511e; !* Orange *!*/
    background-color: #242943;
    color: #ffffff;
    padding: 100px 25px;
    font-family: Source Sans Pro, sans-serif;
}
.banner {
    background-color: white;
    /*opacity: 0.5;*/
    background-image: url("../images/banner_re.png");
    width: auto;
    height: 800px;
    color: #ffffff;
    padding: 100px 25px;
    font-family: Source Sans Pro, sans-serif;
    background-size: cover;
    display: block;

}

/*.banner:before{*/
    /*background: rgba(0,0,0,0.7);*/
/*}*/

.bg-grey {
    background-color: #f6f6f6;
}

.bg-black {
    background-color: black;
    color: white;
}

.container-fluid {
    padding: 100px 120px;
}

.container-footer {
    padding: 10px 50px;
    background-color: black;
    color: #ffffff;
}


.logo {
    color: #f4511e;
    font-size: 200px;
}

.logobutton {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.logo-medium {
     color: black;
    font-size: 80px;
}

.logo-small {
    color: #f4511e;
    font-size: 50px;
}

@media screen and (max-width: 768px){
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }

}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    /*width: 300px;*/
/**/
     width : 100%;
    /*height: 500px;*/
    /*overflow: auto;*/
}

.thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.thumbnail img {
    /*width: 100%;*/
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #FD5739;
}

.carousel-indicators li {
    border-color: #FD5739;
}

.carousel-indicators li.active {
    background-color: #FD5739;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.panel {
    border: 1px solid black;
    border-radius:0;
    transition: box-shadow 0.5s;
    background-color: rgba(0, 98, 106, 0.5);
}
.panel-group{
    margin-top: 20px;
}

.panel:hover, panel:active {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-body{
    padding: 0;
}

.panel-footer .btn:hover {
    /*border: 1px solid #f4511e;*/
    background-color: #fff !important;
    /*color: #f4511e;*/
}

.panel-heading {
    color: black !important;
    /*background-color: #f4511e !important;*/
    padding: 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.navbar {
    color: black;
    margin-bottom: 10px;
    /*background-color: #242943;*/
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
    height: 60px;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
    /*color: #fff !important;*/
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FD5739 !important;
    text-decoration-line: underline;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: red;
}

.homeBannerText {
    color: white;
    letter-spacing: 2px;
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-top: 190px;

}

.bannerTitle {
    color: black;
    /*text-shadow: -1px 1px 0.2em rgba(0,0,0,0.5), 1px -1px 0.4em rgba(0,0,0,.5);*/
    letter-spacing: 2px;
    font-size: 50px;
}


h1 {
    font-size: 48px;
    color: #050002;
    font-weight: 400;
    line-height: 50px;
    margin: 0px 0 20px 0;
    font-family: Source Sans Pro, sans-serif;

}

h2 {
    font-size: 32px;
    color: #050002;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Source Sans Pro, sans-serif;
}


h3{
    font-size: 28px;
    color: #050002;
    font-weight: 400;
    margin-bottom: 16px;
    font-family: Source Sans Pro, sans-serif;
}

h4 {
    font-size: 18px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: Source Sans Pro, sans-serif;

}


.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/*Slide Animation*/
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

a{
    color:inherit;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

.text-black {
    color: black;
}

.topleft{
    position: absolute;
    top: 0;
    left: 20px;
    border-color: #FD5739;
}

.navbar-brand>img {
    display: inline-block;
}

.footer-icon-size{
    font-size: 20px;
}

.cinemall-banner {
    background-color: white;
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7));
    background-image: url("../images/cinemall/cinemall_banner.png");
    width: auto;
    height: 500px;
    color: #ffffff;
    padding: 200px 25px;
    font-family: Source Sans Pro, sans-serif;
    background-size: cover;
    display: block;
    opacity: 1;
}

.bravos-banner {
    background-color: white;
    background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7));
    background-image: url("../images/banner-vs.png");
    width: 100%;
    height: auto;
    color: #ffffff;
    padding: 200px 25px;
    font-family: Source Sans Pro, sans-serif;
    background-size: cover;
    display: block;
    opacity: 1;
}


.project-header-font{
    font-size: 60px;
}

.project-header-text{
    color: white;
    /*text-shadow: -1px 1px 0.2em rgba(0,0,0,0.5), 1px -1px 0.4em rgba(0,0,0,.5);*/
    letter-spacing: 2px;
    font-size: 20px;
}

.section-header span{
    border-bottom: 5px black solid;
}

/*.accordion {*/
    /*background-color: #eee;*/
    /*color: #444;*/
    /*cursor: pointer;*/
    /*padding: 18px;*/
    /*width: 100%;*/
    /*border: none;*/
    /*text-align: left;*/
    /*outline: none;*/
    /*font-size: 15px;*/
    /*transition: 0.4s;*/
/*}*/

/*.active, .accordion:hover {*/
    /*background-color: #ccc;*/
/*}*/

/*.panel {*/
    /*padding: 0 18px;*/
    /*background-color: white;*/
    /*max-height: 0;*/
    /*overflow: hidden;*/
    /*transition: max-height 0.2s ease-out;*/
/*}*/


.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FD5739; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* Some padding */
    border-radius: 50%; /* Rounded corners */
}

#myBtn:hover {
    background-color: #FD5739;
    color: black;
}

.loader {
     border: 16px solid #f3f3f3; /* Light grey */
     border-top: 16px solid #3498db; /* Blue */
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
 }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/images/preloader.gif) center no-repeat #fff;
}

.red-underline-h1 {
    border-bottom: 5px solid #FD5739;
    padding-bottom: 5px;
}

.color-red{
    color:#FD5739;
}

.color-white{
    color: white;
}
#resume-button{
    background-color: #FD5739;
    color: white;
}

#resume-button:hover{
    color: black;
}


.card-tag {
    background: #FD5739;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 80px;
    font-weight: 700;
    color: white;
    font-size: 14px;
}
.card .is-notShownIfHover {
    display: inline-block !important;
}

.scroll-img img {
    width: auto;
    height: 480px;
    max-height: 480px;
}

